BODY { 
        background: #ffffff;
        background-image: none;
        margin-top: 0px;
        margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		color: #000000;
		font-family: geneva,arial,helvetica,futura;
		font-size: 13px; }

A { 
		font-size: 13px; }

A:link { 
	    color: #6666cc;
	    text-decoration: none; }

A:visited {
		color: #6666cc;
		text-decoration: none; }
		
A:hover {
		color: #6666cc;
		text-decoration: underline; }
		
A:active {
		color: #cc0000;
		text-decoration: none; }
		
a.klein {
	    color: #6666cc;
		font-size: 10px; }
		
.navi1 {
		color: #6666cc;
		font-family: geneva,arial,helvetica,futura;
		font-size: 13px;
		font-weight: bold; }
	
.navi2 {
		color: #6666cc;
		font-family: geneva,arial,helvetica,futura;
		font-size: 13px; }
		
.profileHead {
		color: #000000;
		font-family: geneva,arial,helvetica,futura;
		font-size: 14px;
		font-weight: bold; }

.profileHead2 {
		color: #000000;
		font-family: geneva,arial,helvetica,futura;
		font-size: 13px;
		font-weight: bold; }
		
.profileNormal {
		color: #000000;
		font-family: geneva,arial,helvetica,futura;
		font-size: 13px;
		font-weight: normal; }

P {
		color: #000000;
		font-family: geneva, arial, helvetica, futura;
		font-size: 13px;
		margin-top: 0px;
		margin-bottom: 0px; }
		
TD {
		color: #000000;
		font-family: geneva,arial,helvetica,futura;
		font-size: 13px; }
		
.tdbildtext {
		color: #999999;
		font-family: geneva,arial,helvetica,futura;
		font-size: 13px; }
		
.klein {
		color: #000000;
		font-family: geneva,arial,helvetica,futura;
		font-size: 10px;
		margin-top: 0px;
		margin-bottom: 0px; }
